# Imbalanced Dataset to balanced Dataset

# now we are apply random under sampler

In [40]:
import pandas as pd

In [41]:
df = pd.read_csv('Social_Network_Ads.csv')
df.head()

   Age  EstimatedSalary  Purchased
0   19            19000          0
1   35            20000          0
2   26            43000          0
3   27            57000          0
4   19            76000          0

In [42]:
df['Purchased'].value_counts()

Purchased
0    257
1    143
Name: count, dtype: int64

In [43]:
x = df.iloc[:,:-1]
y = df['Purchased']

In [44]:
from imblearn.under_sampling import RandomUnderSampler

In [45]:
rus = RandomUnderSampler()
rus_x,rus_y = rus.fit_resample(x,y)

C:\Users\Asus\AppData\Roaming\Python\Python39\site-packages\sklearn\base.py:484: FutureWarning: `BaseEstimator._check_n_features` is deprecated in 1.6 and will be removed in 1.7. Use `sklearn.utils.validation._check_n_features` instead.
  warnings.warn(
C:\Users\Asus\AppData\Roaming\Python\Python39\site-packages\sklearn\base.py:493: FutureWarning: `BaseEstimator._check_feature_names` is deprecated in 1.6 and will be removed in 1.7. Use `sklearn.utils.validation._check_feature_names` instead.
  warnings.warn(

In [46]:
rus_x

     Age  EstimatedSalary
295   36            63000
93    29            28000
220   41            80000
42    35           108000
47    27            54000
..   ...              ...
393   60            42000
395   46            41000
396   51            23000
397   50            20000
399   49            36000

[286 rows x 2 columns]

In [47]:
rus_y

295    0
93     0
220    0
42     0
47     0
      ..
393    1
395    1
396    1
397    1
399    1
Name: Purchased, Length: 286, dtype: int64

In [48]:
rus_y.value_counts()

Purchased
0    143
1    143
Name: count, dtype: int64

In [49]:
from sklearn.model_selection import train_test_split

In [50]:
x_train,x_test,y_train,y_test = train_test_split(rus_x,rus_y,test_size=0.2,random_state=42)

In [51]:
from sklearn.linear_model import LogisticRegression

In [1]:
lr = LogisticRegression()
lr.fit(x_train,y_train)

NameError: name 'LogisticRegression' is not defined

In [ ]:
lr.score(x_test,y_test)*100

81.03448275862068

In [ ]:
lr.predict([[19,19000]])

C:\Users\Asus\AppData\Roaming\Python\Python39\site-packages\sklearn\utils\validation.py:2739: UserWarning: X does not have valid feature names, but LogisticRegression was fitted with feature names
  warnings.warn(

array([0])

In [ ]:
lr.predict([[45,26000]])

C:\Users\Asus\AppData\Roaming\Python\Python39\site-packages\sklearn\utils\validation.py:2739: UserWarning: X does not have valid feature names, but LogisticRegression was fitted with feature names
  warnings.warn(

array([0])

In [ ]:
lr.predict([[46,28000]])

C:\Users\Asus\AppData\Roaming\Python\Python39\site-packages\sklearn\utils\validation.py:2739: UserWarning: X does not have valid feature names, but LogisticRegression was fitted with feature names
  warnings.warn(

array([0])

* here we can not find accurate result becouse it can be problem dataset. But process is like this.